@model IEnumerable<IdentityUserRole<string>>

@{
    if (!(Model is not null)) { throw new NullReferenceException(); }
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if(!(item is not null)){ continue; }
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId" asp-route-id2="@item.RoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId" asp-route-id2="@item.RoleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId" asp-route-id2="@item.RoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
